.nav a{
    border: 10px solid seashell;
    border-radius: 10px;
    margin: 10px;
    width: 50%;
    text-align: center;
    color: darkolivegreen;
    text-decoration: none;
    background-color: gray;
}

.nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav a:hover {
    background-color: bisque;
}