.visuals {
    color: darkblue;
}

h1, h2, p {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

p {
    font-size: 18px;
}

body {
    background-color: gray;
}

#body {
    background-color: grey;
}

.image {
    width: 200px;
}

h1, h2 {
    border: 15px solid seashell;
}

.link:hover {
    color: pink;
}